<header>
  <ul id="horizontal-list">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/explorer">Race Explorer</a></li>
  </ul>
  <h1 id="page-title">{{pageTitle}}</h1>
</header>
