<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h2>Sorry for the delay, maintenance is ongoing</h2>
  </body>
</html>
